<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:context="http://www.springframework.org/schema/context"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="
   http://www.springframework.org/schema/beans     
   http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
   http://www.springframework.org/schema/context 
   http://www.springframework.org/schema/context/spring-context-4.0.xsd">

   <context:component-scan base-package="com.asurance.quotegeneration.controller" />

   <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
      <property name="prefix" value="/WEB-INF/jsp/" />
      <property name="suffix" value=".jsp" />
   </bean>
   
   
   <!-- <bean id = "quoteHandler" class="com.asurance.quotegeneration.service.QuoteHandler">
   </bean>
   
   <bean id = "quoteGenerator" class="com.asurance.quotegeneration.service.QuoteGenerator">
   </bean>
   
   <bean id= "policyService" class="com.asurance.quotegeneration.service.PolicyService">
   </bean>
   
   <bean id="paymentHandler" class="com.asurance.quotegeneration.service.PaymentHandler"></bean> -->
</beans>